.bigTable {
  border-collapse: collapse;
  
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid black;
  flex: 1;
  overflow-x: hidden;
  margin: 1px;
}

.bigTableContainer {
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  flex: 1;
  display: flex;
}
.bigTableContainer > * {
  box-sizing: border-box;
}

.bigTable td {
  padding: 0;
  margin: 0;
  
  font-size: 12px;
  word-wrap: anywhere;
  word-break: break-all;
  word-spacing: normal;
  white-space: break-spaces;
  text-align: center;
  font-family: 'Roboto Mono';
}

.bigTable th {
  word-wrap: break-word;
}

.bigTable td, .bigTable th {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
  border-collapse: collapse;
  padding: 4px;
}
.bigTable td:last-child, .bigTable th:last-child {
  border-right: 1px solid black;
}
.bigTable tr:last-child {
  border-bottom: 1px solid black;
}

.bigTable tbody {
  overflow-y: auto;
  
  flex-direction: column;
}