.actionBar {
  display: flex;
  flex-direction: row;
}

.preview {
  display: flex;
  flex-direction: column;

  flex: 1;
  overflow: hidden;
}

.infoBar {
  display: flex;
  flex-direction: column;
}