.dropdown {
  position: absolute;
  width: max-content;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  margin: -1px;
  border: 1px dotted black;
}

.button {
  border: 0;
  box-sizing: border-box;
  text-align: start;
  padding: 4px 8px 4px 8px;
}