.centerLayout {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.toolbarLayout {
  flex: 1;
}

.fillLayout {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.toolbarRow {
  position: absolute;

  display: flex;
  overflow: hidden;
  pointer-events: none;
}
.fixedToolbarRow {
  position: absolute;
  display: flex;
}

.toolbar {
  display: flex;
  pointer-events: all;

  margin: auto;
}


.overlay {
  
}