@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');

.root {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;

  height: 100vh;
}

.main {
  flex: 1;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.pageContainter {
  height: 100%;
  
  overflow-y: scroll;
  flex: 1;
  padding-right: 40px;
  padding-left: 40px;
}

.page {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding-bottom: 64px;
}

.page blockquote {
  background-color: #ffe4d0;
  margin: 0;
  padding: 8px 8px 8px 32px;
  border-radius: 8px;
}

.page h1, .page h2, .page h3, .page h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.page > article > img, .page > article > p > img {
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.434);
  border-radius: 4px;
}

td, th {
 border: 1px solid black;
 padding: 4px;
}

table {
  border-collapse: collapse;
}